onnxsim
onnx
kornia
polygraphy
tensorrt;sys_platform == "win32"
tensorrt>=10.8.0.43;sys_platform == "linux" #版本过低可能会出黑图
cuda-python
huggingface_hub
einops
colored
opencv-python
matplotlib
torchvision
# pip install tensorrt_cu12_libs==10.0.1 tensorrt_cu12_bindings==10.0.1 tensorrt==10.0.1 --extra-index-url https://pypi.nvidia.com
# https://github.com/NVIDIA/TensorRT/issues/3838